.pomodoro-timer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  /* justify-content: center; */
  height: 100vh;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
}

.pomodoro-timer * {
  box-sizing: border-box;
}

h2 {
  font-size: 1.4em;
  margin: 10px 0 7px 0;
}

.sub-text {
  font-size: 0.8em;
}

/* ------------------------
input number css reset
https://stackoverflow.com/questions/3790935/can-i-hide-the-html5-number-input-s-spin-box#answer-4298216
------------------------ */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type=number] {
  -moz-appearance:textfield; /* Firefox */
}

/* ------------------------
Timer set up 
------------------------ */

.timer-setup-wrap {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.timer-setup {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 5px 16px;
  min-width: 200px;
  border: 1px solid black;
}

.timer-setup h2::first-letter {
  text-transform: uppercase;
}

.timer-setup input[type=range] {
  width: 90%;
  margin: 8px 0;
  /* outline: 1px solid #eee; */
}

.timer-setup__controls {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 90%;
}

.timer-setup__controls button {
  --size: 34px;

  width: var(--size);
  height: var(--size);
  font-size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
}

.timer-setup__controls input[type=number] {
  width: 70px;
  text-align: center;
  margin: 0 8px;
  font-size: 1.25em;
} 

/* ------------------------
Timer 
------------------------ */

.timer-view {
  display: flex;
  display: block;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;

  min-width: 225px;
  min-height: 225px;
  margin: 16px;
  margin-bottom: 8px;
  padding-top: 10px;
  position: relative;

  border: 1px solid #000;
  border-radius: 50%;
}

.timer-view > h2 {
  font-size: 1.75em;
}

.time-left {
  font-size: 4em;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* border: 1px solid #aaa; */
}

/* ------------------------
Timer controls 
------------------------ */

.timer-controls button {
  --w: 75px;
  --h: 50px;

  width: var(--w);
  height: var(--h);

  font-size: 1em;
  margin: 8px 8px;
}